
/* =========================
   BUTTON
========================= */

.sidebar-button {

  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  color: rgba(226,232,240,.85);

  background: rgba(255,255,255,0.03);

  border: 1px solid rgba(255,255,255,0.06);

  backdrop-filter: blur(12px);

  transition: all .25s ease;
}

.sidebar-button:hover {

  transform: translateY(-2px);

  color: #67e8f9;

  border-color: rgba(34,211,238,.35);

  background: rgba(34,211,238,.08);

  box-shadow:
    0 0 20px rgba(34,211,238,.18);
}

/* =========================
   DANGER
========================= */

.sidebar-button-danger:hover {

  color: #f9a8d4;

  border-color: rgba(236,72,153,.30);

  background: rgba(236,72,153,.08);

  box-shadow:
    0 0 20px rgba(236,72,153,.18);
}

/* =========================
   LABEL
========================= */

.sidebar-label {

  font-size: 10px;

  letter-spacing: .18em;

  color: rgb(83, 241, 255);

  font-family: monospace;
}

/* =========================
   GROUP
========================= */

.sidebar-item-group {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
